<div class="col-md-6 col-md-offset-3">
    <center><h3> -- You can edit your task here -- </h3></center>

    <%= render 'form' %>
    
    <%= link_to "Cancel", root_path, class: "btn btn-primary"%>
</div>