<div class="jumbotron" >
    <h1> Welcome to your ToDo List! </h1>
    <p> Log in to your account. If you don't have an account yet, you can create one to start using our ToDo List!  </p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>